.HomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}

.filter-controls {
    margin-bottom: 2rem;
}

.creator-gallery {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem;
    min-width: 100%;
}

.creator-gallery[aria-busy="true"] {
  position: relative;
}

.creator-gallery[aria-busy="true"]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1100px) {
    .creator-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}