.EditCreator, 
.NewCreator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    width: 100%;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

.social-link-label {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.form-group {
    margin-bottom: 1.5rem;
}